!!! 5
%html
  %head
    %title あとで読むサービスPocketの未読記事を毎日メールでお届け: Pocket Porter
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=1548893725364773&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #header
      #header_in
        %a{href: '/'}
          = image_tag 'logo.png', id: 'logo', alt: 'Pocket Porter', width: '251', height: '41'
        - if @user
          %a#logout{href: '/session/destroy'} ログアウト
    #content
      = yield
    #footer
      = "© #{link_to 'kumonos', 'http://kumonos.jp', target: '_blank'} all rights reserved.".html_safe
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
