!!! 5
%html
  %head
    %title Pocket Porter
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  %body
    #header
      #header_in
        %a{href: '/'}
          = image_tag 'logo.png', id: 'logo', alt: 'Pocket Porter', width: '251', height: '41'
        - if @user
          %a#logout{href: '/session/destroy'} ログアウト
    #content
      = yield
    #footer
      = "© #{link_to 'kumonos', 'http://kumonos.jp', target: '_blank'} all rights reserved.".html_safe
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
